.heroSectionContainer {
  width: 74%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.heroSectionBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.title {
  background: linear-gradient(45deg, #7a0ce2, #82f5ef);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  background-clip: text;
  color: transparent;
  font-size: 3.4em;
  font-weight: 600;
}

.slogan {
  font-size: 2.8em;
}

.subtitle {
  font-size: 1.3em;
  color: #3c3c43C7;
  font-weight: 500;
  width: 80%;
  margin-bottom: 1.2em;
}
