:root {
    --primary-color: #454ce1;
}

.button {
    width: 200px;
    height: 40px;
    border: 2px solid var(--primary-color);
    font-size: 1.14em;
    transition: 0.35s ease-in-out;
}

.button:hover {
    background-color: var(--primary-color);
    color: white; 
}

.primary {
    background-color: var(--primary-color);
    color: white;
}

.secondary {
    background-color: transparent; 
    color: var(--primary-color);
}
