.articleContainer {
    width: 80%;
    margin: 2% 5%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.articleTitle {
    font-size: 1.2vw;
}

.articleParag {
    font-size: 1vw;
    line-height: 1.8em;
}

.flow {
    padding: auto;
}

@media (max-width: 767px) {
    .articleContainer {
        width: 80%;
    }
}