.articleContainer {
    width: 60%;
    margin: 50px 10%;
    height: auto;
    padding: 20px;
}

.articleTitle {
    font-size: 3em;
    padding-bottom: 30px;
}

.articleParag {
    font-size: 1.2em;
    line-height: 1.8em;
}

.flow {
    padding: auto;
}

@media (max-width: 767px) {
    .articleContainer {
        width: 80%;
    }
}