.dataUploaderContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: auto 0;
  color: #3d4144;
}

.uploadBox {
  width: 50%;
  height: auto;
  border: 2px dashed blueviolet;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 4em 2em;
  gap: 2em;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #dddddd;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.paginationButton,
.paginationLink {
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.paginationButton {
  border: 1px solid #dddddd;
}

.paginationLink,
.paginationLink:hover,
.paginationLink:active,
.paginationLink:focus {
  color: black;
  text-decoration: none;
}

.activePage {
  background-color: #454ce150;
  color: black;
}

svg {
  color:#3d4144;
  font-size: 5em;
}
