@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", "Roboto";
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  overflow: visible;
}

ul {
  list-style: none;
}

span {
  font-weight: 700;
}

button {
  cursor: pointer;
}