.cardContainer {
    width: 90%;
    height: auto;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #3C3C4380;
    transition: 0.8s ease-in-out;
}

.cardContainer:hover, .activeIndividual {
    background-color: #454ce175;
    color: white;
}

.activeIndividual {
    min-height: 10em;
}