.cardContainer {
    width: 16em;
    height: 5em;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #3d4144;
    transition: 0.4s ease-in-out;
}

.cardContainer:hover {
    background-color: lightcoral;
    color: white;
}
